/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the footer is at the bottom of the viewport */
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #7289da;
    color: #fff;
    text-align: center;
    padding: 80px 0;
}

header h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

header p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    background-color: #fff;
    color: #7289da;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #7289da;
    color: #fff;
}

section {
    padding: 60px 0;
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

section p {
    font-size: 1.2em;
    line-height: 1.8;
    margin-bottom: 30px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto; /* Push footer to the bottom */
}

footer p {
    font-size: 1em;
}

.grey-section {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
    margin-top: auto;
     /* Ensure it stays at the bottom */
}
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (height: 9/16 * width) */
    margin-top: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
